</br></br></br></br>
<div class="center jumbotron">
  <h1>Welcome to ALPHA VILLE</h1>

  <h2>
    This is the home page for
    <a href="https://quiet-escarpment-6336.herokuapp.com/users/1
">ALPHA VILLE</a>
    Arabic learning Application.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
   <%= link_to "Games Zone", games_home_path, class: "btn btn-lg btn-primary" %>
</div>



