<!doctype html>
<html class="no-js" lang="en">
  <head>

 <%= content_tag :div, class: "temp_information", data: {temp: @temphome} do %>
<% end %>

    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Super Hawaz</title>
    <link rel="stylesheet" href="home/css/foundation.css" />
    <link rel="stylesheet" href="home/css/app.css" />
    <link rel="stylesheet" href="home/css/fontello.css" />
    <link rel="stylesheet" href="home/css/hawaz.css" />
  </head>
 
  <body>
    <div class="menu-container" style="height: 50px;">
      <div class="row">
        <div class="large-12 columns">
          <ul class="menu align-right">
           <li id="site-title"><a href="#"><h3>SuperHawaz</h3></a></li>
         </ul>
       </div>
      </div>
    </div>
    <div id="backy" class="body-container">
      <div class="row">
        <div class="large-12 columns">
     
          <div class="orbit" role="region" aria-label="Favorite Space Pictures" data-orbit >
            <ul class="orbit-container">
              <button class="orbit-previous" aria-label="previous"><span class="show-for-sr">Previous Slide</span>&#9664;</button>
              <button class="orbit-next" aria-label="next"><span class="show-for-sr">Next Slide</span>&#9654;</button>
              <li class="is-active orbit-slide">
                <div>
              <h3 class="text-center"><img src="/assets/home/l1.png" style="width: 400px; heghit: 400px;"/></h3>
              
                  <div class="row game-slide" id="maze" >
                
                 <div style="right: 425px; position: absolute;"> <a id="mazeGame"class="large button sites-button hide-for-small-only">GO ! </a></div>
                  </div>
                </div>
              </li>
              <li class="orbit-slide">
                            <div>
              <h3 class="text-center"><img src="/assets/home/l2.png" style="width: 400px; heghit: 400px;"/></h3>
              
                  <div class="row game-slide" id="flippingCards" >
                
                 <div style="right: 425px; position: absolute;"> <a id="flippingGame"class="large button sites-button hide-for-small-only">GO ! </a></div>
                  </div>
                </div>
              </li>
              <li class="orbit-slide">
                       <div>
              <h3 class="text-center"><img src="/assets/home/l3.png" style="width: 400px; heghit: 400px;"/></h3>
              
                  <div class="row game-slide" id="shooting" >
                
                 <div style="right: 425px; position: absolute;"> <a id="shootingGame"class="large button sites-button hide-for-small-only">GO ! </a></div>
                  </div>
                </div>
              </li>
              <li class="orbit-slide">
                <div>
              <h3 class="text-center"><img src="/assets/home/l4.png" style="width: 400px; heghit: 400px;"/></h3>
              
                  <div class="row game-slide" id="hangman" >
                
                 <div style="right: 425px; position: absolute;"> <a id="hangmanGame"class="large button sites-button hide-for-small-only">GO ! </a></div>
                  </div>
                </div>
              </li>
              <li class="orbit-slide">
                <div>
              <h3 class="text-center"><img src="/assets/home/l7.png" style="width: 400px; heghit: 400px;"/></h3>
              
                  <div class="row game-slide" id="puzzle" >
                
                 <div style="right: 425px; position: absolute;"> <a id="puzzleGame"class="large button sites-button hide-for-small-only">GO ! </a></div>
                  </div>
                </div>
              </li>
              <li class="orbit-slide">
                        <div>
              <h3 class="text-center"><img src="/assets/home/l11.png" style="width: 400px; heghit: 400px;"/></h3>
              
                  <div class="row game-slide" id="dragndrop" >
                
                 <div style="right: 425px; position: absolute;"> <a id="dragGame"class="large button sites-button hide-for-small-only">GO ! </a></div>
                  </div>
                </div>
              </li>
              <li class="orbit-slide">
                <div>
              <h3 class="text-center"><img src="/assets/home/l12.png" style="width: 300px; heghit: 300px;"/></h3>
              
                  <div class="row game-slide" id="letterpaint" >
                
                 <div style="right: 425px; position: absolute;"> <a id="letterpaintGame"class="large button sites-button hide-for-small-only">GO ! </a></div>
                  </div>
                </div>
              </li>
              <li class="orbit-slide">
              <div>
                  <h3 class="text-center"><img src="/assets/home/l26.png" style="width: 400px; heghit: 400px;"/> </h3>
                  <div class="row game-slide" id="animals">
                
                      
             
                 
                     <div style="right: 425px; position: absolute;"> <a id="animalsGame" class="large button sites-button hide-for-small-only" >GO !</a></div>
               
                  </div>
                </div>

              </li>
                   <li class="orbit-slide">
                    <div>
              <h3 class="text-center"><img src="/assets/home/hola.png" style="width: 400px; heghit: 400px;"/> </h3>
                  <div class="row game-slide" id="caracas">
                    <div class="small-6 columns" >
            
                    </div>
                    <div class="small-4 columns">
                
                   
                    </div>
                  </div>
                </div>

              </li>
            </ul>
            <nav class="orbit-bullets">
             <button class="is-active" data-slide="0"><span class="show-for-sr">First slide details.</span><span class="show-for-sr">Current Slide</span></button>
             <button data-slide="1"><span class="show-for-sr">Second slide details.</span></button>
             <button data-slide="2"><span class="show-for-sr">Third slide details.</span></button>
             <button data-slide="3"><span class="show-for-sr">Fourth slide details.</span></button>
             <button data-slide="4"><span class="show-for-sr">Fourth slide details.</span></button>
             <button data-slide="5"><span class="show-for-sr">Fourth slide details.</span></button>
             <button data-slide="6"><span class="show-for-sr">Fourth slide details.</span></button>
             <button data-slide="7"><span class="show-for-sr">Fourth slide details.</span></button>


           </nav>
          </div>
        </div>
      </div>
      <!-- <div class="row">
        <div class="large-12 columns">
          
        </div>
      </div> -->
    </div>

    <div class="game-cluster">
      <div class="row">
        <div class="large-12 columns">
          <h3>GWAP Cluster</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          </p>
        </div>
      </div>
      <div class="row small-up-1 medium-up-3 large-up-3">
        <div class="column">
          <div class="cluster-block">
            <i class="icon-info"></i>
            <h6>What We Do?</h6>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
        </div>

       <div class="column">
          <div class="cluster-block">
            <i class="icon-heart-1"></i>
            <h6>Why We Do It?</h6>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
        </div>

        <div class="column">
          <div class="cluster-block">
            <i class="icon-gamepad"></i>
            <h6>How We Do It?</h6>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="large-12 columns">

        </div>
      </div>
    </div>

    <div class="research">
      <div class="row">
        <div class="large-12 columns">
          <div class="row">
            <div class="large-12 columns">
              <h3>About This Research</h3>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              </p>
            </div>
          </div>

          <div class="row research-item">
            <div class="large-2 columns">
              <i class="icon-fire-station"></i>
            </div>
            <div class="large-10 columns">
              <h6>How We Do It?</h6>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              </p>
            </div>
          </div>

          <div class="row research-item">
            <div class="large-2 columns">
              <i class="icon-star-filled"></i>
            </div>
            <div class="large-10 columns">
              <h6>How We Do It?</h6>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              </p>
            </div>
          </div>

          <div class="row research-item">
            <div class="large-2 columns">
              <i class="icon-crown"></i>
            </div>
            <div class="large-10 columns">
              <h6>How We Do It?</h6>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="footer">
      <div class="row" data-equalizer>
        <div class="large-3 columns footer-section" data-equalizer-watch>
          <h1>GWAP</h1>
        </div>
        <div class="large-3 columns footer-section" data-equalizer-watch>
          <div class="row">
            <div class="large-12 columns" >
              <h6>Lorem Ipsum</h6>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
          </div>

          <div class="row border-top">
            <div class="large-12 columns" >
              <h6>Jailan Salah<p><b>Researcher</b></p></h6>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
          </div>
          
        </div>
        <div class="large-3 columns footer-section" data-equalizer-watch>
          <div class="row">
            <div class="large-12 columns" >
              <h6>Lorem Ipsum</h6>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
          </div>

          <div class="row border-top">
            <div class="large-12 columns" >
              <h6>Contact Us</h6>
              <p>German University in Cairo</br>
                New Cairo City . Main Entrance El-Tagamoa El-Khames</p>
              <p>Hotline 16482 . Tel: +202 27589990-8 . Fax: +202 27581041</p>
            </div>
          </div>
        </div>
        <div class="large-3 columns footer-section-last" data-equalizer-watch>
          <div class="row">
            <div class="large-12 columns" >
              <h6>Other Projects</h6>
              <ul>
                <li>
                  <a>Kodr</a>
                </li>
                <li>
                  <a>Rules of Wheels</a>
                </li>
                <li>
                  <a>Lydia</a>
                </li>
              </ul>
            </div>
          </div>

          <div class="row border-top">
            <div class="large-12 columns" >
              <h6>Lorem Ipsum</h6>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
     <script type="text/javascript" src="/assets/pjs/phaser.min.js"></script>
    <style type="text/css">


#dialogoverlay{
    display: none;
    opacity: .8;
    position: fixed;
    top: 0px;
    left: 0px;
    background: #FFF;
    width: 100%;
    z-index: 10;
}
#dialogbox{
    display: none;
    position: fixed;
    background: #000;
    border-radius:7px; 
    width:550px;
    z-index: 10;
}

* {
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }


#backy {
  background-image: url('/assets/rsz_2background4.png'); height: 700px;
}

  .round {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding-top: 1px;    
    text-decoration: none;    
    text-align: center;
    font-size: 25px;    
    text-shadow: 0 1px 0 rgba(255,255,255,.7);
    letter-spacing: -.065em;
    font-family: "Hammersmith One", sans-serif;   
    -webkit-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
    box-shadow: 2px 2px 7px rgba(0,0,0,.2);
    border-radius: 300px;
    z-index: 1;
    border-width: 4px;
    border-style: solid;
  }
#mama{
  top: 300px;
}






  .btnOrange{

  background: #ff7700;
  background-image: -webkit-linear-gradient(top, #ff7700, #ff9b05);
  background-image: -moz-linear-gradient(top, #ff7700, #ff9b05);
  background-image: -ms-linear-gradient(top, #ff7700, #ff9b05);
  background-image: -o-linear-gradient(top, #ff7700, #ff9b05);
  background-image: linear-gradient(to bottom, #ff7700, #ff9b05);
  -webkit-border-radius: 11;
  -moz-border-radius: 11;
  border-radius: 11px;
  font-family: Arial;
  color: #ffffff;
  font-size: 13px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btnOrange:hover {
  background: #fa8d3a;
  background-image: -webkit-linear-gradient(top, #fa8d3a, #ffb12b);
  background-image: -moz-linear-gradient(top, #fa8d3a, #ffb12b);
  background-image: -ms-linear-gradient(top, #fa8d3a, #ffb12b);
  background-image: -o-linear-gradient(top, #fa8d3a, #ffb12b);
  background-image: linear-gradient(to bottom, #fa8d3a, #ffb12b);
  text-decoration: none;
}
#dialogbox > div{ background:#FFF; margin:8px; }
#dialogbox > div > #dialogboxhead{ background: #666; font-size:19px; padding:10px; color:#CCC; }
#dialogbox > div > #dialogboxbody{ background:#333; padding:20px; color:#FFF; }
#dialogbox > div > #dialogboxfoot{ background: #666; padding:10px; text-align:right; }


  @media screen and (max-width:1024px) { 
    #backy  {background-image: url('/assets/background4.png'); height: 700px; }
  }


    </style>
   
     <script src="/assets/home/js/vendor/jquery.min.js"></script>
    <script src="/assets/home/js/vendor/what-input.min.js"></script>
    <script src="/assets/home/js/foundation.min.js"></script>
    <script src="/assets/home/js/app.js"></script>

     <script type="text/javascript" src="http://code.jquery.com/jquery-1.4.3.min.js"></script>


<script>

//speechSynthesis.speak(msg); ***UNCOMMENT THIS IF YOU WANT IT TO TALK***

var disable = 0;


 //var Alert = new CustomAlert(Myletter); ;
 var starnew;
var abcflags = [0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0];
  var abc = ['أ', 'ب', 'ت', 'ث','ج','ح','خ','د','ذ','ر', 'ز', 'س','ش','ص', 'ض', 'ط','ظ','ع','غ','ف','ق','ك','ل','م','ن','ه','و','ي'];

function collectStar (Myletter) {

   letterid = abc.indexOf(Myletter)+1;
    // Removes the star from the screen
    if(abcflags[letterid-1] === 0){

        chooseLetter(letterid);



    
  
     // chooseLetter(2);
     // letterid=2;
       abcflags[letterid-1] =1;}

 
       var gamzo = $('.temp_information').data('temp'); 
        setTimeout(function(){var link ='balala';}, 3000);
   
   link= 'games_drag_path';
    
        switch (gamzo) {
    case 0:
        link = 'games_hangman_path';
        break;
    case 1:
        link = 'games_shooting_path';
        break;
    case 2:
        link = 'games_matching_path';
        break;
    case 3:
        link = 'games_maze_path';
        break;
    case 4:
        link = 'games_writing_path';
        break;
    case 5:
        link = 'games_puzzle_path';
        break;
    case 6:
        link = 'games_drag_path';
        break;
    case 7:
        link = 'games_preschooler_path';
        break;                   
}
     
  setTimeout(function(){ window.open(link, "_self"); }, 3000);   
 

}

     function chooseLetter(fieldClicked) {
    $.ajax({
        url: 'collect',
        type: 'get',
        contentType: 'application/json; charset=UTF-8',
        accept: 'application/json',
        dataType: 'json',
        data: {letter:fieldClicked}
    
    });
};



  $("#hangmanGame").click(function() {
  collectStar('ث');

      
});
  

  $("#shootingGame").click(function() {
 collectStar('ت');
});
   


  $("#flippingGame").click(function() {
    collectStar('ب');

  });



  $("#mazeGame").click(function() {
 collectStar('أ');
}); 



  $("#paintletterGame").click(function() {
 collectStar('س');
}); 


  $("#puzzleGame").click(function() {
  collectStar('خ');
}); 
 

  $("#dragGame").click(function() {
  collectStar('ز');
 
  });

  $("#animalsGame").click(function() {
 collectStar('ه');
});  






</script>

    <script src="js/vendor/jquery.min.js"></script>
    <script src="js/vendor/what-input.min.js"></script>
    <script src="js/foundation.min.js"></script>
    <script src="js/app.js"></script>

     <script type="text/javascript" src="http://code.jquery.com/jquery-1.4.3.min.js"></script>
  </body>
</html>
