<!DOCTYPE HTML>
<html class="no-js">
<head>
<meta charset="utf-8">
<title>Hangman</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="/assets/hangman.css" rel="stylesheet" type="text/css">
<%= content_tag :div, class: "temp_information", data: {temp: @temphang} do %>
<% end %>
<style>
@charset "UTF-8";
body {

    background-image: url("/assets/paper.jpg");
    
}
h1 {
	text-align: center;
	font-family: Tahoma, Geneva, sans-serif;
	color:#006;
    font-size: 40px;
}
#frame{
    position:absolute;
   margin-top: 25px;
    margin-left: 390px; 
}

#hint{
    position: absolute;
  margin-top: 29px;
    margin-left: 395px; 
}
.button {
    display: inline-block;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font: 14px/100% Arial, Helvetica, sans-serif;
    padding: .5em 2em .55em;
    text-shadow: 0 1px 1px rgba(0,0,0,.3);
    -webkit-border-radius: .5em; 
    -moz-border-radius: .5em;
    border-radius: .5em;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
    width:90px;
}#home{
    position:absolute;
    top:80px;
    left:30px;
}
.orange {
    color: #fef4e9;
    border: solid 1px #da7c0c;
    background: #f78d1d;
    background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
    background: -moz-linear-gradient(top,  #faa51a,  #f47a20);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
}
.orange:hover {
    background: #f47c20;
    background: -webkit-gradient(linear, left top, left bottom, from(#f88e11), to(#f06015));
    background: -moz-linear-gradient(top,  #f88e11,  #f06015);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f88e11', endColorstr='#f06015');
}
.orange:active {
    color: #fcd3a5;
    background: -webkit-gradient(linear, left top, left bottom, from(#f47a20), to(#faa51a));
    background: -moz-linear-gradient(top,  #f47a20,  #faa51a);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f47a20', endColorstr='#faa51a');
}
.fuschia {
    color: #b3005b;
    border: solid 1px #52003D;
    background: #b3005b;
    background: -webkit-gradient(linear, left top, left bottom, from(#CC0099), to(#66004C));
    background: -moz-linear-gradient(top,  #CC0099,  #66004C);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
}
.fuschia:hover {
    background: #52003D;
    background: -webkit-gradient(linear, left top, left bottom, from(#CC0099), to(#A3007A));
    background: -moz-linear-gradient(top,  #CC0099,  #A3007A);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f88e11', endColorstr='#f06015');
}
.fuschia:active {
    color: #fcd3a5;
    background: -webkit-gradient(linear, left top, left bottom, from(#CC0099), to(#A3007A));
    background: -moz-linear-gradient(top,  #CC0099,  #A3007A);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f47a20', endColorstr='#faa51a');
}

.button:hover {
    text-decoration: none;
}
.button:active {
    position: relative;
    top: 1px;
}
.js #help {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 10px;
    right: 10px;
    background-image: url(/assets/hangman/icons.png);
    background-position: 2px 2px;
    background-repeat: no-repeat;
    cursor: pointer;
}
.js #listen2 {
     width: 40px;
    height: 40px;
  position: absolute;
    top: 300px;
   left: 665px;
    background-image: url(/assets/hangman/icons.png);
    background-position: 2px 2px;
    background-repeat: no-repeat;
    cursor: pointer;
}
.js #helptext {
    display: none;
    border: #CCC solid 10px;
    border-radius: 8px;
    width: 260px;
    padding: 10px;
    position: fixed;
    top: 10px;
    background-color: #fff;
    z-index: 10;
}
#helptext h2 {
    margin-top: 0;
}
#helptext p {
    margin-bottom: 0;
}
.js #close {
    position: absolute;
    width: 40px;
    height: 40px;
    top: -20px;
    right: -20px;
    z-index: 10;
    background-image: url(/assets/hangman/icons.png);
    background-position: -48px 2px;
    background-repeat: no-repeat;
    cursor: pointer;
}
#mask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
}
.no-js #loading, .js #warning {
	display: none;
}
#warning, #loading {
	font-size: 150%;
	font-weight: bold;
	color: #f00;
	text-align: center;
}
#play, #clear {
	display: none;
	width: 140px;
    height: 30px;
	padding: 0.25em 0;
	text-align: center;
	margin: 0.2em 0 0 13px;
	font-size: 140.5%;
	cursor: pointer;
	color: #fff;
	/*background-color: #069; Baby Blue*/
    /*background-color:#006;navy*/
    background-color: #b3005b;
}
#listen{
    display: none;
    width: 80px;
    padding: 0.25em 0;
    text-align: center;
    margin: 0.2em 0 0 13px;
    font-size: 112.5%;
    cursor: pointer;
    color: #fff;
    /*background-color: #069; Baby Blue*/
    /*background-color:#006;navy*/
    background-color: #b3005b;
}
#stage {
	float: right;
    margin-right: 200px;
   
    margin-top: 100px;
}
#word {
    direction: rtl;
	font-weight: bold;
	font-size: 230%;
	letter-spacing: 0.25em;

	margin: 0.25em 0 0.4em 30px;

}
#letters div {
    display: inline-block;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
   

    text-shadow: 0 1px 1px rgba(0,0,0,.3);
    -webkit-border-radius: .5em; 
    -moz-border-radius: .5em;
    border-radius: .5em;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    box-shadow: 0 1px 2px rgba(0,0,0,.2);

	width: 40px;
	margin: 0 5px 5px 0;
	padding: 0.25em 0;
	text-align: center;
	font-weight: bold;
	font-size: 140%;
	color: #fff;
	/*background-color: #b3005b;Fuschia*/
    background-color: #78ba38;/*lime green*/
	float: left;
}
@media only screen and (max-width: 399px) {
    h1 {
        margin-top: 0.2em;
        margin-bottom: 0;
        font-size: 150%;
    }
    #word {
        text-align:center;
        margin-left: 0;
    }
}
@media only screen and (max-width: 399px), only screen and (min-width: 530px) {
    #letters {
        width: 320px;
    }
    body {
        max-width: 560px;
        margin: 0 auto;
    }
}
@media only screen and (min-width: 400px) and (max-width:439px) {
    #letters {
        width: 180px;
    }
}
@media only screen and (min-width: 440px) and (max-width: 529px) {
    #letters {
        width: 225px;
    }
}
@media only screen and (min-width: 700px) {
    body {
        max-width: 800px;
    }
    #stage {
        width: 300px;
        height: 300px;
    }
}

@media only screen and (max-height: 480px) {
    #letters {
        margin-left: 6px;
    }
    #letters div {
        font-size: 125%;
        margin: 0 2px 2px 2px;
    }
}
@media only screen and (max-height: 480px) and (orientation: landscape) {
    #stage {
        margin-top: 60px;
    }
}
@media only screen and (min-width: 320px) and (orientation: landscape) {
    .js #helptext {
        width: 400px;
    }
}

.btnBlue {
  background: #3baaf5;
  background-image: -webkit-linear-gradient(top, #3baaf5, #1021de);
  background-image: -moz-linear-gradient(top, #3baaf5, #1021de);
  background-image: -ms-linear-gradient(top, #3baaf5, #1021de);
  background-image: -o-linear-gradient(top, #3baaf5, #1021de);
  background-image: linear-gradient(to bottom, #3baaf5, #1021de);
  -webkit-border-radius: 11;
  -moz-border-radius: 11;
  border-radius: 11px;
  font-family: Arial;
  color: #ffffff;
  font-size: 13px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btnBlue:hover {
  background: #0a1bcc;
  background-image: -webkit-linear-gradient(top, #0a1bcc, #042985);
  background-image: -moz-linear-gradient(top, #0a1bcc, #042985);
  background-image: -ms-linear-gradient(top, #0a1bcc, #042985);
  background-image: -o-linear-gradient(top, #0a1bcc, #042985);
  background-image: linear-gradient(to bottom, #0a1bcc, #042985);
  text-decoration: none;
}
.btnGreen {
  background: #5cb524;
  background-image: -webkit-linear-gradient(top, #5cb524, #255705);
  background-image: -moz-linear-gradient(top, #5cb524, #255705);
  background-image: -ms-linear-gradient(top, #5cb524, #255705);
  background-image: -o-linear-gradient(top, #5cb524, #255705);
  background-image: linear-gradient(to bottom, #5cb524, #255705);
  -webkit-border-radius: 11;
  -moz-border-radius: 11;
  border-radius: 11px;
  font-family: Arial;
  color: #ffffff;
  font-size: 13px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btnGreen:hover {
  background: #0acc11;
  background-image: -webkit-linear-gradient(top, #0acc11, #257a1d);
  background-image: -moz-linear-gradient(top, #0acc11, #257a1d);
  background-image: -ms-linear-gradient(top, #0acc11, #257a1d);
  background-image: -o-linear-gradient(top, #0acc11, #257a1d);
  background-image: linear-gradient(to bottom, #0acc11, #257a1d);
  text-decoration: none;
}
.btnYellow {
  background: #ffff00;
  background-image: -webkit-linear-gradient(top, #ffff00, #ffd500);
  background-image: -moz-linear-gradient(top, #ffff00, #ffd500);
  background-image: -ms-linear-gradient(top, #ffff00, #ffd500);
  background-image: -o-linear-gradient(top, #ffff00, #ffd500);
  background-image: linear-gradient(to bottom, #ffff00, #ffd500);
  -webkit-border-radius: 11;
  -moz-border-radius: 11;
  border-radius: 11px;
  font-family: Arial;
  color: #ffffff;
  font-size: 13px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btnYellow:hover {
  background: #ffff00;
  background-image: -webkit-linear-gradient(top, #ffff00, #f5b105);
  background-image: -moz-linear-gradient(top, #ffff00, #f5b105);
  background-image: -ms-linear-gradient(top, #ffff00, #f5b105);
  background-image: -o-linear-gradient(top, #ffff00, #f5b105);
  background-image: linear-gradient(to bottom, #ffff00, #f5b105);
  text-decoration: none;
}
.btnOrange{

  background: #ff7700;
  background-image: -webkit-linear-gradient(top, #ff7700, #ff9b05);
  background-image: -moz-linear-gradient(top, #ff7700, #ff9b05);
  background-image: -ms-linear-gradient(top, #ff7700, #ff9b05);
  background-image: -o-linear-gradient(top, #ff7700, #ff9b05);
  background-image: linear-gradient(to bottom, #ff7700, #ff9b05);
  -webkit-border-radius: 11;
  -moz-border-radius: 11;
  border-radius: 11px;
  font-family: Arial;
  color: #ffffff;
  font-size: 13px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btnOrange:hover {
  background: #fa8d3a;
  background-image: -webkit-linear-gradient(top, #fa8d3a, #ffb12b);
  background-image: -moz-linear-gradient(top, #fa8d3a, #ffb12b);
  background-image: -ms-linear-gradient(top, #fa8d3a, #ffb12b);
  background-image: -o-linear-gradient(top, #fa8d3a, #ffb12b);
  background-image: linear-gradient(to bottom, #fa8d3a, #ffb12b);
  text-decoration: none;
}
.btnRed {
  background: #ff000d;
  background-image: -webkit-linear-gradient(top, #ff000d, #8c1414);
  background-image: -moz-linear-gradient(top, #ff000d, #8c1414);
  background-image: -ms-linear-gradient(top, #ff000d, #8c1414);
  background-image: -o-linear-gradient(top, #ff000d, #8c1414);
  background-image: linear-gradient(to bottom, #ff000d, #8c1414);
  -webkit-border-radius: 11;
  -moz-border-radius: 11;
  border-radius: 11px;
  font-family: Arial;
  color: #ffffff;
  font-size: 13px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btnRed:hover {
  background: #c70000;
  background-image: -webkit-linear-gradient(top, #c70000, #ff4929);
  background-image: -moz-linear-gradient(top, #c70000, #ff4929);
  background-image: -ms-linear-gradient(top, #c70000, #ff4929);
  background-image: -o-linear-gradient(top, #c70000, #ff4929);
  background-image: linear-gradient(to bottom, #c70000, #ff4929);
  text-decoration: none;
}
.levelzo{
    margin-top: 280px;
    margin-left: 330px;
}


</style>
<script src="/assets/modernizr.hangman.js"></script>
<script>
Modernizr.load({
    load: ['/assets/jquery-2.1.3.min.js', '/assets/hangman.js'],
    complete: function() {
        init();
    }
});


</script>
</head>

<body>

<p id="warning">JavaScript must be enabled to play this game.</p>
<div id="help"></div>
<div id="helptext">
    <h2>How to Play</h2>
    <div id="close"></div>
    <p>Hangman is a word-guessing game. Click or tap New Game to display the letters of the alphabet and a row of dashes indicating the number of letters to be guessed. Click or tap a letter. If it's in the word, it replaces the dash(es). Each wrong guess results in a stroke being added to a gallows and its victim. Your role is to guess the word correctly before the victim meets his grisly fate.</p>
</div>
<p id="loading">Game loading. . .</p>
<canvas id="stage" width="200" height="200">Sorry, your browser needs to support canvas for this game.</canvas>

<div href="#" class="button fuschia" id="play">New Game</div> <div href="#" class="button fuschia" id="clear">Clear Score</div>

<div id="word"></div>

<div id="letters"></div>
<img id="frame" src="/assets/hangman/frame.png" height="79px" width="79px">
<img id="hint" src="/assets/hangman/9.jpg" height="70px" width="70px">
<div href="#" class="button orange" id="listen">Listen</div>

<div id="listen2"></div>

</body>
<%= button_to "Home", games_home_path, {:class => "button orange", :id => "home"} %>

<div class='levelzo'>
    <a  href='#' class="btnBlue" id="level1">1</a>
    <a  href='#' class="btnGreen" id="level2">2</a>
    <a  href='#' class="btnYellow" id="level3">3</a>
    <a  href='#' class="btnOrange" id="level4">4</a>
    <a  href='#' class="btnRed" id="level5">5</a>
</div>
</html>

