<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Super Hawaz</title>
    <link rel="stylesheet" href="home/css/foundation.css" />
    <link rel="stylesheet" href="home/css/app.css" />
    <link rel="stylesheet" href="home/css/fontello.css" />
    <link rel="stylesheet" href="home/css/hawaz.css" />
  </head>
  <body>
    <div class="menu-container">
      <div class="row">
        <div class="large-12 columns">
          <ul class="menu align-right">
           <li id="site-title"><a href="#"><h3>SuperHawaz</h3></a></li>
         </ul>
       </div>
      </div>
    </div>
    <div class="body-container">
      <div class="row">
        <div class="large-12 columns">
          <h4>Pick a Game!</h4>
          <p>Browse the available games and tap on the one you would like to play!</p>
          <div class="orbit" role="region" aria-label="Favorite Space Pictures" data-orbit >
            <ul class="orbit-container">
              <button class="orbit-previous" aria-label="previous"><span class="show-for-sr">Previous Slide</span>&#9664;</button>
              <button class="orbit-next" aria-label="next"><span class="show-for-sr">Next Slide</span>&#9654;</button>
              <li class="is-active orbit-slide">
                <div>
                  <h3 class="text-center">Maze</h3>
                  <div class="row game-slide" id="maze">
                    <div class="small-6 columns" >
                      <img src="/assets/home/maze.png"/>
                    </div>
                    <div class="small-4 columns">
                      <p>This game is like the regular maze game, where the player is asked to go through a maze to reach his/her goal. What’s different in this game is the presence of some obstacles along the way, these obstacles are represented as MCQs. The player will listen to the arabic words, and chooses the corresponding letter. In order to pass the obstacle, the corresponding question has to be answered correctly.
The deficit Area it handles :  Auditory Deficit.</p>
                      <a id="mazeGame" class="large button sites-button hide-for-small-only">Play Game</a>
                    </div>
                  </div>
                </div>
              </li>
              <li class="orbit-slide">
                <div>
                  <h3 class="text-center">Flipping Cards</h3>
                  <div class="row game-slide" id="flippingCards">
                    <div class="small-6 columns" >
                      <img src=" /assets/home/matching.png"/>

                    </div>
                    <div class="small-4 columns">
                      <p>This game is like the regular memory flipping card game, where the player is asked to match two identical cards that are flipped down on the table after seeking the whole thing for a short span of time.
The deficit Area it handles :  Memory Deficit.</p>
                      <a id="flippingGame" class="large button sites-button hide-for-small-only">Play Game</a>
                    </div>
                  </div>
                </div>
              </li>
              <li class="orbit-slide">
                <div>
                  <h3 class="text-center">Shooting</h3>
                  <div class="row game-slide" id="shooting">
                    <div class="small-6 columns" >
                      <img src="/assets/home/shooting.png"/>
                    </div>
                    <div class="small-4 columns">
                      <p>This game’s idea is to shoot the correct group of words/images that belong to a certain group. (Ex: Shoot all the words that starts with the letter “Alef”).
The deficit Area it handles :  Attention Deficit.</p>
                      <a id="shootingGame" class="large button sites-button hide-for-small-only">Play Game</a>
                    </div>
                  </div>
                </div>
              </li>
              <li class="orbit-slide">
                <div>
                  <h3 class="text-center">Hangman</h3>
                  <div class="row game-slide" id="hangman">
                    <div class="small-6 columns" >
                      <img src="/assets/home/hangman.png"/>
                    </div>
                    <div class="small-4 columns">
                      <p> This game is a typical normal Hangman game where the child is asked to fill in the gaps of the missing letters of a certain word.
 The deficit Area it handles :  Language Deficit.</p>
                      <a id="hangmanGame" class="large button sites-button hide-for-small-only">Play Game</a>
                    </div>
                  </div>
                </div>
              </li>
              <li class="orbit-slide">
                <div>
                  <h3 class="text-center">Puzzle</h3>
                  <div class="row game-slide" id="puzzle">
                    <div class="small-6 columns" >
                      <img src="/assets/home/puzzle.png"/>
                    </div>
                    <div class="small-4 columns">
                      <p>This game is a puzzle game where the child gets to reorganize the scattered parts of the letter’s image along with the images of the objects that start with this letter. But, exceptionally, the student has first to pick the correct image that he/she will be required to solve as a puzzle. This will come along 
P.S: All the puzzle challenges come with a preview image as an examples.
The deficit Area it handles :  Organizational Deficit.</p>
                      <a id="puzzleGame"class="large button sites-button hide-for-small-only">Play Game</a>
                    </div>
                  </div>
                </div>
              </li>
              <li class="orbit-slide">
                <div>
                  <h3 class="text-center">Drag and Drop</h3>
                  <div class="row game-slide" id="draganddrop">
                    <div class="small-6 columns" >
                      <img src="/assets/home/drag.png"/>
                    </div>
                    <div class="small-4 columns">
                      <p> The classical matching game using drag and drop method, we will have a set of empty cards written on them the arabic words or letters, and below them a collection of images where the child is required to drag and drop it in the right slot.
The deficit Area it handles : Visual Deficit.</p>
                      <a id="dragGame" class="large button sites-button hide-for-small-only">Play Game</a>
                    </div>
                  </div>
                </div>
              </li>
              <li class="orbit-slide">
                <div>
                  <h3 class="text-center">Letter Paint</h3>
                  <div class="row game-slide" id="letterpaint">
                    <div class="small-6 columns" >
                      <img src="/assets/home/writing.png"/>
                    </div>
                    <div class="small-4 columns">
                      <p>This game stresses on the writing skills of the child by having the arabic letter on the screen and asking the child to color/fill it with his/her finger, under the condition that they don’t go outside the letter nor color a small part of it.
The deficit Area it handles :  Writing Deficit.</p>
                      <a id="letterpaintGame" class="large button sites-button hide-for-small-only">Play Game</a>
                    </div>
                  </div>
                </div>
              </li>
   
            </ul>
            <nav class="orbit-bullets">
             <button class="is-active" data-slide="0"><span class="show-for-sr">First slide details.</span><span class="show-for-sr">Current Slide</span></button>
             <button data-slide="1"><span class="show-for-sr">Second slide details.</span></button>
             <button data-slide="2"><span class="show-for-sr">Third slide details.</span></button>
             <button data-slide="3"><span class="show-for-sr">Fourth slide details.</span></button>
             <button data-slide="4"><span class="show-for-sr">Fourth slide details.</span></button>
             <button data-slide="5"><span class="show-for-sr">Fourth slide details.</span></button>
             <button data-slide="6"><span class="show-for-sr">Fourth slide details.</span></button>
             <button data-slide="7"><span class="show-for-sr">Fourth slide details.</span></button>

           </nav>
          </div>
        </div>
      </div>
      <!-- <div class="row">
        <div class="large-12 columns">
          
        </div>
      </div> -->
    </div>

    <div class="game-cluster">
      <div class="row">
        <div class="large-12 columns">
          <h3>GWAP Cluster</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          </p>
        </div>
      </div>
      <div class="row small-up-1 medium-up-3 large-up-3">
        <div class="column">
          <div class="cluster-block">
            <i class="icon-info"></i>
            <h6>What We Do?</h6>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
        </div>

       <div class="column">
          <div class="cluster-block">
            <i class="icon-heart-1"></i>
            <h6>Why We Do It?</h6>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
        </div>

        <div class="column">
          <div class="cluster-block">
            <i class="icon-gamepad"></i>
            <h6>How We Do It?</h6>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="large-12 columns">

        </div>
      </div>
    </div>

    <div class="research">
      <div class="row">
        <div class="large-12 columns">
          <div class="row">
            <div class="large-12 columns">
              <h3>About This Research</h3>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              </p>
            </div>
          </div>

          <div class="row research-item">
            <div class="large-2 columns">
              <i class="icon-fire-station"></i>
            </div>
            <div class="large-10 columns">
              <h6>How We Do It?</h6>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              </p>
            </div>
          </div>

          <div class="row research-item">
            <div class="large-2 columns">
              <i class="icon-star-filled"></i>
            </div>
            <div class="large-10 columns">
              <h6>How We Do It?</h6>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              </p>
            </div>
          </div>

          <div class="row research-item">
            <div class="large-2 columns">
              <i class="icon-crown"></i>
            </div>
            <div class="large-10 columns">
              <h6>How We Do It?</h6>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="footer">
      <div class="row" data-equalizer>
        <div class="large-3 columns footer-section" data-equalizer-watch>
          <h1>GWAP</h1>
        </div>
        <div class="large-3 columns footer-section" data-equalizer-watch>
          <div class="row">
            <div class="large-12 columns" >
              <h6>Lorem Ipsum</h6>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
          </div>

          <div class="row border-top">
            <div class="large-12 columns" >
              <h6>Jailan Salah<p><b>Researcher</b></p></h6>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
          </div>
          
        </div>
        <div class="large-3 columns footer-section" data-equalizer-watch>
          <div class="row">
            <div class="large-12 columns" >
              <h6>Lorem Ipsum</h6>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
          </div>

          <div class="row border-top">
            <div class="large-12 columns" >
              <h6>Contact Us</h6>
              <p>German University in Cairo</br>
                New Cairo City . Main Entrance El-Tagamoa El-Khames</p>
              <p>Hotline 16482 . Tel: +202 27589990-8 . Fax: +202 27581041</p>
            </div>
          </div>
        </div>
        <div class="large-3 columns footer-section-last" data-equalizer-watch>
          <div class="row">
            <div class="large-12 columns" >
              <h6>Other Projects</h6>
              <ul>
                <li>
                  <a>Kodr</a>
                </li>
                <li>
                  <a>Rules of Wheels</a>
                </li>
                <li>
                  <a>Lydia</a>
                </li>
              </ul>
            </div>
          </div>

          <div class="row border-top">
            <div class="large-12 columns" >
              <h6>Lorem Ipsum</h6>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
   
     <script src="/assets/home/js/vendor/jquery.min.js"></script>
    <script src="/assets/home/js/vendor/what-input.min.js"></script>
    <script src="/assets/home/js/foundation.min.js"></script>
    <script src="/assets/home/js/app.js"></script>

     <script type="text/javascript" src="http://code.jquery.com/jquery-1.4.3.min.js"></script>


<script>
var mygamez = 99;



     function changeLevel(fieldClicked) {
    $.ajax({
        url: 'home',
        type: 'get',
        contentType: 'application/json; charset=UTF-8',
        accept: 'application/json',
        dataType: 'json',
        data: {mygame:fieldClicked}
    
    });


};

function changelevvo(n){
    mygamez = n;
}




  $("#hangmanGame").click(function() {
    changeLevel(0);

    window.open('games_collect_path', "_self");

      
});
  

  $("#shootingGame").click(function() {
    changeLevel(1);
      window.open('games_collect_path', "_self");


    // var countoz= $('.temp_information').data('temp');
    // alert(countoz);
});
   


  $("#flippingGame").click(function() {
    changeLevel(2);
    window.open('games_collect_path', "_self");

  });



  $("#mazeGame").click(function() {
    changeLevel(3);
    window.open('games_collect_path', "_self");
}); 



  $("#paintletterGame").click(function() {
    changeLevel(4);
    window.open('games_collect_path', "_self");
}); 


  $("#puzzleGame").click(function() {
    changeLevel(5);
    window.open('games_collect_path', "_self");
}); 
 

  $("#dragGame").click(function() {
    changeLevel(6);
     window.open('games_collect_path', "_self");
 
  });

  $("#preschooler").click(function() {
    changeLevel(7);
     window.open('games_collect_path', "_self");
});  







</script>
  </body>
</html>
