<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html>


	


 <a  href='#' class="button fuschia" id="match">Memory</a> 
 <a  href='#' class="button fuschia" id="maze">Maze</a> 
 <a  href='#' class="button orange" id="hang">Hangman</a> 
 <a  href='#' class="button orange" id="shoot">Shooting</a> 
 <a  href='#' class="button fuschia" id="puzzle">Puzzle</a> 
 <a  href='#' class="button fuschia" id="drag">Drag n' Drop</a> 
 <a  href='#' class="button orange" id="paint">Painting</a> 
 <a  href='#' class="button orange" id="preschooler">Animals</a> 


    <%= content_tag :div, class: "temp_information", data: {temp:@tempo} do %>
    <% end %>

<style>
@charset "UTF-8";
body {


    background-image: url("http://localhost:3000/assets/paper.jpg");
    
}
h1 {
	text-align: center;
	font-family: Tahoma, Geneva, sans-serif;
	color:#006;
    font-size: 40px;
}
.button {

    display: inline-block;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font: 20px/100% Arial, Helvetica, sans-serif;
    padding: 2em 3em 2em;
    text-shadow: 0 1px 1px rgba(0,0,0,.3);
    -webkit-border-radius: .5em; 
    -moz-border-radius: .5em;
    border-radius: .5em;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
    width:220px;
}
 #maze{
 	
    left:400px;	
    top:150px;
    position:absolute;
    }
     #match{
    left:800px;	
    top:150px;
    position:absolute;
    }
     #shoot{
    left:400px;	
    top:300px;
    position:absolute;
    }
     #hang{
    left:800px;	
    top:300px;
    position:absolute;
    }
     #puzzle{
 left:400px;  
    top:440px;
    position:absolute;
    }
      #drag{
    left:800px;  
    top:440px;
    position:absolute;
    }

      #paint{
    left:400px;  
    top:560px;
    position:absolute;
    }
      #yalahwy{
    left:200px;  
    top:560px;
    position:absolute;
    }
          #preschooler{
    left:800px;  
    top:560px;
    position:absolute;
    }
.orange {
    color: #fef4e9;
    border: solid 1px #da7c0c;
    background: #f78d1d;
    background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
    background: -moz-linear-gradient(top,  #faa51a,  #f47a20);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
}
.orange:hover {
    background: #f47c20;
    background: -webkit-gradient(linear, left top, left bottom, from(#f88e11), to(#f06015));
    background: -moz-linear-gradient(top,  #f88e11,  #f06015);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f88e11', endColorstr='#f06015');
}
.orange:active {
    color: #fcd3a5;
    background: -webkit-gradient(linear, left top, left bottom, from(#f47a20), to(#faa51a));
    background: -moz-linear-gradient(top,  #f47a20,  #faa51a);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f47a20', endColorstr='#faa51a');

}
.fuschia {
    
    color: white;
    border: solid 1px #52003D;
    background: #b3005b;
    background: -webkit-gradient(linear, left top, left bottom, from(#CC0099), to(#66004C));
    background: -moz-linear-gradient(top,  #CC0099,  #66004C);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
}
.fuschia:hover {
    background: #52003D;
    background: -webkit-gradient(linear, left top, left bottom, from(#CC0099), to(#A3007A));
    background: -moz-linear-gradient(top,  #CC0099,  #A3007A);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f88e11', endColorstr='#f06015');
}
.fuschia:active {
    color: #fcd3a5;
    background: -webkit-gradient(linear, left top, left bottom, from(#CC0099), to(#A3007A));
    background: -moz-linear-gradient(top,  #CC0099,  #A3007A);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f47a20', endColorstr='#faa51a');
}

.button:hover {
    text-decoration: none;
}
.button:active {
    position: relative;
    top: 1px;
}
</style>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.4.3.min.js"></script>

<body>
<script>
var mygamez = 99;


     function changeLevel(fieldClicked) {
    $.ajax({
        url: 'home',
        type: 'get',
        contentType: 'application/json; charset=UTF-8',
        accept: 'application/json',
        dataType: 'json',
        data: {mygame:fieldClicked}
    
    });


};

function changelevvo(n){
    mygamez = n;
}


//changeLevel(6);

/*var count = 0;
$(document).ready(function() {


  $("#update").click(function() {
    //count= $('.temp_information').data('temp');
    //$('.temp_information').data('temp') =1;
    count= $('.temp_information').data('temp');
    changeLevel(0);
$('#content').html(count);

});
});*/



  $("#hang").click(function() {
    changeLevel(0);

    window.open('games_collect_path', "_self");

      
});
  

  $("#shoot").click(function() {
    changeLevel(1);
      window.open('games_collect_path', "_self");


    // var countoz= $('.temp_information').data('temp');
    // alert(countoz);
});
   


  $("#match").click(function() {
    changeLevel(2);
    window.open('games_collect_path', "_self");

  });



  $("#maze").click(function() {
    changeLevel(3);
    window.open('games_collect_path', "_self");
}); 



  $("#paint").click(function() {
    changeLevel(4);
    window.open('games_collect_path', "_self");
}); 


  $("#puzzle").click(function() {
    changeLevel(5);
    window.open('games_collect_path', "_self");
}); 
 

  $("#drag").click(function() {
    changeLevel(6);
     window.open('games_collect_path', "_self");
 
  });

  $("#preschooler").click(function() {
    changeLevel(7);
     window.open('games_collect_path', "_self");
});  




</script>

</body>
</html>
