<DOCTYPE html>
<html lang="es">
<head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
        <link rel="shortcut icon"type="image/x-icon" href="favicon.ico"/>
        <link rel="stylesheet" type="text/css" href="http://localhost:3000/assets/css/estilos.css">
        <script type="text/javascript" src="http://localhost:3000/assets/js/jquery.js"></script>
        <script type="text/javascript" src="http://localhost:3000/assets/js/preguntas.js"></script>
        <script type="text/javascript" src="http://localhost:3000/assets/js/jquery-ui-1.9.2.custom.min.js"></script>
        <link rel="stylesheet" type="text/css" href="http://localhost:3000/assets/stylesheets/css/smoothness/jquery-ui-1.9.2.custom.min.css">

</head>

<body>
    <section id="preguntas">
        <article class="preg" >
            دب
        </article>

        <article class="preg">
            تمساح
        </article>

        <article class="preg">
            تفاحة
        </article>

        <article class="preg">
            كلب
        </article>

        <article class="preg">
            فيل
        </article>  

        <article class="preg">
            قطة
        </article>

        <article class="preg">
            كرسي
        </article>

        <article class="preg">
            عصفور
        </article>

        <article class="preg">
            سمكة
        </article>

        <article class="preg">
            شجرة
        </article>

        <article class="preg">
            قرد
        </article>  

        <article class="preg">
            أسد
        </article>

        <div id="respuestas"  class="prezo">
            <img src="http://localhost:3000/assets/img/level1/0.jpg" class="respuesta" alt="فيل" width="130" height="68"/>
            <img src="http://localhost:3000/assets/img/level1/1.jpg" class="respuesta" alt="قطة" width="130" height="68"/>
            <img src="http://localhost:3000/assets/img/level1/2.jpg" class="respuesta" alt="كلب" width="130" height="68"/>
            <img src="http://localhost:3000/assets/img/level1/3.jpg" class="respuesta" alt="دب" width="130" height="68"/>    
            <img src="http://localhost:3000/assets/img/level1/4.jpg" class="respuesta" alt="تمساح" width="130" height="68"/>
            <img src="http://localhost:3000/assets/img/level1/5.jpg" class="respuesta" alt="تفاحة" width="130" height="68"/>
            

            <img src="http://localhost:3000/assets/img/level1/6.jpg" class="respuesta" alt="قرد" width="130" height="68"/>
            <img src="http://localhost:3000/assets/img/level1/7.jpg" class="respuesta" alt="أسد" width="130" height="68"/>
            <img src="http://localhost:3000/assets/img/level1/8.jpg" class="respuesta" alt="عصفور" width="130" height="68"/> 
            <img src="http://localhost:3000/assets/img/level1/9.jpg" class="respuesta" alt="سمكة" width="130" height="68"/>
            <img src="http://localhost:3000/assets/img/level1/10.jpg" class="respuesta" alt="كرسي" width="130" height="68"/>
            <img src="http://localhost:3000/assets/img/level1/11.jpg" class="respuesta" alt="شجرة" width="130" height="68"/>
        </div>
        
    </section>
    <div id="resultados">

    </div>
    

</body>
</html>